<ion-view view-title="Remember This Moment">
  <ion-content>
  <div class="bar bar-header bar-calm">
    <h1 class="title">Enjoy your memories, {{mem.user.name.first}}!</h1>
  </div>
  <br/><br/>
    <div class="list">
      <div class="card item item-input-inset">
        <label class="item-input-wrapper memory-input">
          <textarea  placeholder="What do you want to remember?" ng-model="mem.memory.text">
          </textarea>
        </label>
        <button class="button button-small button-royal" ng-click="mem.addMemory(memory)">
          Remember!
        </button>
          <button class="button button-icon icon ion-camera" ng-click="mem.upload()"></button>
      </div>
  </div>

    <div class="card memory-card" ng-repeat="mmry in mem.memories">
      <div class="item item-text-wrap">
        <p>{{mmry.text}}</p>
        <p>{{mmry.date | date}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
